<template>
  <div>
    <Carousel :images="images" />
  </div>
</template>

<script>
import Carousel from "../components/Carousel.vue";

export default {
  components: {
    Carousel
  },
  data() {
    return {
      images: [
        "https://placekitten.com/1024/530",
        "https://via.placeholder.com/1024x530"
      ]
    };
  }
};
</script>
