<i18n>
{
  "en": {
    "hero": {
      "title": "We invite you to come fish in Astrakhan",
      "lead": "What can be better than fishing in a good company? Especially when the fishing place is in the Volga's delta, your dreams about taking home quite a few fishes are able to come to fruition! You will experience a true rest at out guesthouse in a genuine countryside of Astrakhan. We are always happy to help customers, we offer comfortable living place and a whole range of things to do: fishing from a beach or on a boat, ecological tourism and many more.",
      "learnMore": "Learn more"
    },
    "cardDescription": {
      "title": "Fishing on a lower reaches of Volga is a key to success",
      "description": "Our guesthouse is located in one of the most interesting places of Astrakhan region – village Ivanchug, 40km away from the city. There lies a canal of a famous Volga, Kanycha, which is just 100 steps away from our guesthouse. One hour on a boat and you will see the very famous Volga ripples – an ideal place for fishing and underwater hunting. But even in a village you will find a lot of places where you can fish."
    },
    "cardAdvantages": {
      "title": "Main advantages of choosing us",
      "reasons": [
      "You will get to know or remember the finest moments of the countryside life",
      "If You want, no-one besides You and Your friends will be at a guesthouse",
      "If You decide to go fishing on your own - we won't stop you",
      "If You will need advices in choosing a fishing place and in organization - we will be happy to help",
      "If you will want to combine gardening with fishing - we will only be happy",
      "Our prices are fair",
      "We can provide you with a tour of the most famous sightseeings of Astrakhan",
      "Russian sauna can be a final touch in your day of fishing"
      ]
    }
  },
  "ru": {
    "hero": {
      "title": "Приглашаем на рыбалку в Астрахань",
      "lead": "Что может быть прекраснее, чем рыбалка в хорошей компании? А если место рыбалки еще находится в низовьях Волги, то Ваши мечты  о  прекрасных рыбацких трофеях и хорошем отдыхе   вполне осуществимы! Вас ждет незабываемый отдых в гостевом доме в настоящей  астраханской деревне. Мы всегда рады посетителям, предлагаем комфортное проживание и целый комплекс развлечений: рыбалка с берега реки,  на моторной лодке, экологический туризм и многое другое.",
      "learnMore": "Узнать больше"
    },
    "cardDescription": {
      "title": "Рыбалка в низовьях волги – гарантия успеха",
      "description": "Наш гостевой дом расположен в одном из самых  удивительных уголков Астраханской области —  в старинном селе Иванчуг Камызякского района, в сорока  километрах от города. Здесь  течет река Каныча -  старое русло  великой русской реки  Волги. От дома до реки - 100 шагов. Всего в часе езды от деревни на моторной лодке находятся  знаменитые волжские раскаты -  идеальное место  для рыбалки и подводной охоты. Но и рядом с деревней и в  ней самой  Вы найдете немало мест, где можно заняться рыбалкой.    "
    },
    "cardAdvantages": {
      "title": "Главные преимущества выбора именно нас",
      "reasons": [
        "Вы узнаете или вспомните прелести деревенской жизни, когда по утрам просыпаешься от пения птиц или деревенских петухов.",
        "Если Вы захотите, то кроме Вас и Ваших друзей в доме не будет лишних людей",
        "Если Вы решите  рыбачить самостоятельно - Вас никто не будет ограничивать в этих желаниях. ",
        "Если нужны будут  консультации  и наше участие в поиске рыбного места и в организации самой рыбалки  - сделаем это для Вас.",
        "Захотите совместить рыбалку с отдыхом на земле - огородничеством - в этом случае Ваша инициатива будет только приветствоваться. ",
        "Наши цены демократичны",
        "Кроме рыбалки, Вы можете еще при желании познакомиться с астраханскими достопримечательностями. Мы организуем Вам полноценные экскурсии по Астрахани и Астраханской области.",
        "Русская баня может стать хорошим завершающим аккордом Вашего рыбацкого дня."
      ]
    }
  }
}
</i18n>

<template>
  <b-container class="my-3">
    <main>

      <b-jumbotron class="shadow">
        <h1>
          {{ $t("hero.title") }}
        </h1>
        <hr class="my-4"/>
        <p class="lead">
          {{ $t("hero.lead") }}
        </p>
        <b-btn
          size="lg"
          variant="success">
          {{ $t("hero.learnMore") }}
        </b-btn>
      </b-jumbotron>

      <b-row>

        <b-col>
          <b-card
            :title="$t('cardDescription.title')"
            img-src="https://picsum.photos/600/300/?image=25"
            img-top
            style="min-width: 15rem;"
            class="shadow">
            <hr />
            <p class="card-text">
              {{ $t('cardDescription.description') }} 
            </p>
          </b-card>
          <SaleCard
            text1="Lorem Ipsum dolor sit Amet"
            text2="Lorem Ipsum dolor sit Amet"
            class="shadow my-4"
          />
        </b-col>

        <b-col>
          <b-card
            :title="$t('cardAdvantages.title')"
            img-src="https://picsum.photos/600/300/?image=24"
            img-top
            style="min-width: 15rem;"
            class="shadow">
            <hr />
            <ul class="list-group">
              <li 
                v-for="(reason, index) in $t('cardAdvantages.reasons')"
                :key="index"
                class="list-group-item">
                <span class="badge badge-primary badge-pill">
                  {{ Number(index) + 1 }}
                </span>
                {{ reason }}
              </li>
            </ul>
          </b-card>
        </b-col>

      </b-row>

    </main>
  </b-container>
</template>

<script>
import SaleCard from "../components/SaleCard.vue";

export default {
  components: {
    SaleCard
  }
};
</script>

<style scoped lang="scss">
@media (max-width: 1680px) {
  .container {
    max-width: 1600px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 911px;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.jumbotron h1 {
  font-family: "Montserrat", sans-serif;
}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
</style>
