<template>
  <div>
    <b-carousel
      controls
      indicators
      :interval="4000"
      img-width="1024"
      img-height="700"
      v-model="slide"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd">

      <b-carousel-slide
        v-for="(image, index) in images"
        :key="index"
        :img-src="image">

      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  props: {
    images: Array
  },
  data() {
    return {
      slide: 0,
      sliding: null
    };
  },
  methods: {
    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    }
  }
};
</script>

<style scoped lang="scss">
</style>
