<i18n>
{
  "en": {
    "home": "Home",
    "contacts": "Contacts",
    "linksNavRight": [
      "Gallery",
      "Guarantees",
      "About us",
      "Reviews"
    ]
  },
  "ru": {
    "home": "Домой",
    "contacts": "Контакты",
    "linksNavRight": [
      "Галерея",
      "Гарантии",
      "О нас",
      "Отзывы"
    ]
  }
}
</i18n>

<template>
  <nav>
    <b-navbar
    toggleable="md"
    type="dark"
    variant="primary">

      <b-navbar-toggle target="nav_collapse" />

      <b-navbar-brand>
        <b-link
          class="nav-title"
          router-tag="span"
          to="/">
          {{ $t('home') }}
        </b-link>
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>

          <b-nav-item-dropdown>
            <template slot="button-content">
              <span class="fas fa-globe" />
            </template>
            <b-dropdown-item-btn @click="$emit('localeChanged', 'ru')">
              RU
            </b-dropdown-item-btn>
            <b-dropdown-item-btn @click="$emit('localeChanged', 'en')">
              EN
            </b-dropdown-item-btn>
            </b-nav-item-dropdown>

          <b-nav-item>
            <b-link to="/contacts">
              {{ $t('contacts') }}
            </b-link>
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">

          <b-nav-item 
          v-for="(link, index) in $t('linksNavRight')" 
          :key=index>
            <b-link
            :to=routes[index]>
              {{ link }}
            </b-link>
          </b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </nav>
</template>

<script>
export default {
  name: "NavigationBar",
  data() {
    return {
      routes: ["/gallery", "guarantees", "about", "reviews"]
    };
  }
};
</script>

<style scoped lang="scss">
.nav-title {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  cursor: pointer;
}
a.nav-link {
  cursor: default;
}
</style>
