<i18n>
{
  "en": {
    "order": "Order now"
  },
  "ru": {
    "order": "Заказать"
  }
}
</i18n>

<template>
  <div>
    <b-card
      :title="text1"
      style="min-width: 15rem; text-align: center;">
      <hr class="my-4" />
      {{ text2 }}
      <div>
        <b-btn
          variant="warning"
          size="lg"
          class="mt-3">
          {{ $t("order") }}
        </b-btn>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    text1: String,
    text2: String
  }
};
</script>

<style lang="scss" scoped>
</style>
