<template>
  <div id="app">
    <header>
      <NavigationBar @localeChanged="localeChanged($event)" />
    </header>
    <router-view class="fade-in is-paused"/>
  </div>
</template>

<script>
import NavigationBar from "./components/NavigationBar.vue";
export default {
  components: {
    NavigationBar
  },
  methods: {
    fade() {
      const el = document.querySelector(".fade-in");
      if (el.classList.contains("is-paused")) {
        el.classList.remove("is-paused");
      }
    },
    localeChanged(locale) {
      this.$i18n.locale = locale;
    }
  },
  updated() {
    this.fade();
  },
  mounted() {
    this.fade();
  }
};
</script>


<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans|Oswald|Montserrat:500");

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.fade-in {
  animation: fadeIn 2s;
}

.is-paused {
  animation-play-state: paused;
}
</style>
